<ion-view hide-back-button="true" title="Home">
  <ion-content padding="true" class="has-header">
    <button class="button" ng-click="toIntro()">Do Tutorial Again</button>
    <button ng-click="test()" class="button button-stable button-block">Test Local Storage</button>
    <button ng-click="request()" class="button button-stable button-block">Test Database (proxy)</button>
    <button ng-click="hashPW('gamesinstitute')" class="button button-stable button-block">Hash Password</button>
    <button ng-click="rest('6525','gamesinstitute','amenities')" class="button button-stable button-block">Log In</button>
    <button ng-click="navigate()" class="button button-stable button-block">Navigate</button>
  </ion-content>
</ion-view>
