<ion-view view-title="New Reservation">
  <ion-nav-buttons side="right">
    <button ng-click="navigate('tab.reservation-search')" class="button button-icon icon ion-ios7-search"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-item class="item-icon-right" ng-repeat="item in service.avaliableStacks" type="item-text-wrap" href="#/tab/reservations/book/{{item.stackId}}">
      {{item.DBEntityStack.descr}}
      <input type="text" id="{{'slider'+item.stackId}}" name="example_name" value="" style="margin:0px; margin:auto" />
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </ion-content>
</ion-view>
