<ion-view view-title="Search">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">
        Start:
      </ion-item>
      <ion-item class="item-input">
        <input type="Date" placeholder="Today">
      </ion-item>
      <ion-item class="item-input">
        <input type="text" placeholder="HH">
        :
        <input type="text" placeholder="MM">
        <select>
          <option selected>AM</option>
          <option>PM</option>
        </select>
      </ion-item>
      <ion-item class="item-divider">
        End:
      </ion-item>
      <ion-item class="item-input">
        <input type="Date" placeholder="Today">
      </ion-item>
      <ion-item class="item-input">
        <input type="text" placeholder="HH">
        :
        <input type="text" placeholder="MM">
        <select>
          <option selected>AM</option>
          <option>PM</option>
        </select>
      </ion-item>
      <ion-item class="item item-toggle">
        My time is flexible
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item item-toggle">
        Show non matches
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-input item-select">
        <div class="input-label">
          Location
        </div>
        <select>
          <option selected>Home</option>
          <option>Green</option>
          <option>Red</option>
        </select>
      </ion-item>
      <ion-item class="item-input item-select">
        <div class="input-label">
          Vehicles
        </div>
        <select>
          <option selected>All Models</option>
          <option>Kia Rio</option>
          <option>Kia Soul</option>
        </select>
      </ion-item>
      <ion-item>
        Amenities
      </ion-item>
      <button ng-click="navigate('login')" class="button button-full button-balanced">Search</button>
    </ion-list>
  </ion-content>
</ion-view>
