<ion-view view-title="New">
  <ion-nav-buttons side="right">
    <button ng-click="navigate('tab.reservation-search')" class="button button-icon icon ion-ios7-search"></button>
  </ion-nav-buttons>
  <ion-content ng-class="{'' : loaded() , 'no-scroll' : !loaded()}">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="loadData(1)"></ion-refresher>
    <img ng-show="!loaded()" src="assets/LOADING.png" style="position:absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;" />
    <div class="list card" ng-repeat="item in service.avaliableStacks" type="item-text-wrap" ng-click="go(item.stackId)" style="margin:3px;">
      <div class="item item-divider">
        {{item.DBEntityStack.resourceDescription}}
        <p style="float:right">{{item.distancekm}} km away</p>
      </div>
      <div class="row" style="margin:0px; padding:0px">
        <div class="col col-25">
          <img class="full-image" src="{{item.DBEntityStack.DBEntityVehicleType.thumbDest}}">
        </div>
        <div class="col col-67">
          <p>lol</p>
          <input type="text" id="{{'slider'+item.stackId}}" />
        </div>
        <div class="col">
          <i class="icon ion-chevron-right icon-accessory" style="float:right"></i>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
