<ion-view view-title="{{what.name}}">
  <style>
    /*=======================Time Select Grid============================*/
    div.toprow{
      margin:0;
      background-color: yellow;
      border-width:1px;
      border-style:solid;
      border-color:#ff9900;
      text-align: center;
      vertical-align: middle;
    }

  </style>
  <ion-content class="padding">
    
    <p>
      {{stack.stackId}}
    </p>
    <div class="row">
      <div class="col toprow">.col</div>
      <div class="col toprow">.col</div>
      <div class="col toprow">.col</div>
      <div class="col toprow">.col</div>
      <div class="col toprow">.col</div>
    </div>
    <div class="row">
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>
    <div class="row">
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>
    <div class="row">
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>
    <div class="row">
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>
  </ion-content>
</ion-view>
