<ion-view title="Log In">
  <ion-content>
    <div class="list" style="text-align: left">
      <form ng-submit="login()">
        <li class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user">
        </li>
        <li class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="pw">
        </li>
        <li class="item item-icon-right">
          Proof of Identity
          <i class="icon ion-ios7-arrow-right"></i>
        </li>
      </form>
    </div>
    <div class="spacer" style="height:100px"></div>
    <button ng-click="login()" class="button button-full button-balanced" style="float:bottom">Submit Application</button>
    <button ng-click="navigate('login')" class="button button-full button-balanced" style="float:bottom">Back</button>
  </ion-content>
</ion-view>
