<ion-view view-title="Reservations">
  <ion-nav-buttons side="right">
    <button class="button button-positive button-clear no-animation" ng-click="navigate('tab.reservation-new')">Add</button>
  </ion-nav-buttons>
  <ion-content ng-class="{'' : loaded() , 'no-scroll' : !loaded()}">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="loadData(1)"></ion-refresher>
    <img src="assets/LOADING.png" style="position:absolute; margin-left: auto; margin-right: auto; left: 0; right: 0;" />
    <div class="list">
      <div class="item item-divider">
        Current
      </div>
      <a class="item" ng-show="loaded()">
        Item
      </a>
      <div class="item item-divider">
        Future
      </div>
      <div class="item item-divider">
        Past Month
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in service.pastReservation" type="item-text-wrap" href="#/tab/reservations/{{item.id}}">
        <div class="item item-avatar">
          <img ng-src="{{item.DBEntityStack.DBEntityVehicleType.imageDest}}">
          <h2>Marty McFly</h2>
          <p>November 05, 1955</p>
        </div>
        <div class="item item-body">
          <p>
            {{item.DBEntityStack.DBEntityVehicleType.descr}}
            {{item.DBEntityStack.lotDescription}}
            {{item.estimate}}
            {{item.id}}
            {{item.startDate}}
          </p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
