<ion-view hide-nav-bar="true">

  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Locations</h1>
  </ion-header-bar>

  <ion-content class="has-header">

    <div class="list">
      <div class="item item-divider">Recently Visited</div>

      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-location balanced"></i>
        <h2>Toronto, Ontario</h2>
        <p>453 University Avenue, M82 1T6</p>
        <span class="badge badge-clear">3 CARS</span>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-location calm"></i>
        <h2>Toronto, Ontario</h2>
        <p>453 Younge Street, M82 1T6</p>
        <span class="badge badge-assertive">5</span>
      </a>

      <div class="item item-divider">Nearby</div>

      <a class="item item-icon-left">
        <i class="icon ion-location balanced"></i>
        <h2>Oshawa, Ontario</h2>
        <p>453 Oak Street, M82 1T6</p>
        <span class="badge badge-assertive">2</span>
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-location calm"></i>
        <h2>Toronto, Ontario</h2>
        <p>453 Younge Street</p>
        <span class="badge badge-assertive">5</span>
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-location calm"></i>
        <h2>Toronto, Ontario</h2>
        <p>453 Younge Street</p>
        <span class="badge badge-assertive">5</span>
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-location calm"></i>
        <h2>Toronto, Ontario</h2>
        <p>453 Younge Street</p>
        <span class="badge badge-assertive">5</span>
      </a>
    </div>

  </ion-content>
</ion-view>
