<ion-view view-title="Reservations">
  <button class="button button-positive button-clear"
            ng-click="next()">
      Next
    </button>
  <ion-content>
    <div class="list">
      <div ng-click="getCurrentReservation()" class="item item-divider">
        Current
      </div>

      <a class="item">
        Item
      </a>
      <div ng-click="getFutureReservation()" class="item item-divider">
        Future
      </div>

      <div ng-click="getPastReservation()" class="item item-divider">
        Past Month
      </div>
    </div>

  </ion-content>
</ion-view>
