<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Dashboard Tab -->
  <ion-tab title="Reservations" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/reservations">
    <ion-nav-view name="tab-reservations"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Account" icon-off="ion-ios7-person" icon-on="ion-ios7-person" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Map" icon-off="ion-ios7-location" icon-on="ion-ios7-location" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>
</ion-tabs>
