# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
platforms
.idea
.brackets.json
.ftpsync_settings
**/.DS_Store