h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 .item, .item-divider, a, .title, span, button, li{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.no-scroll{
  pointer-events: none;
}

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}
.marker-label{

  background-color: #cfcfcf;
}
.map-container{
  height:60%;
  position:relative;
}
.angular-google-map-container{
  position:absolute;
  height:100%;
}


/*====================Time Box ====================*/
.AMBox, .PMBox, .BlankBox, .Box{
  position:relative;
  height:30px;
  border-color:#7D7D7D;
  border-width:1px;
}
.AMBox{
  border-top-style: solid;
}
.PMBox{
  border-top-style: solid;
}
.PMBox>h6, .AMBox>h6{
  position:absolute;
  top:0px;
  right:3px;
}
.Box{
  border-top-style: solid;
  border-left-style: solid;
  text-align: center;
}
.Box>.Cross, .Box>p{
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.Box>.Check{
  position:absolute;
  right: 3px;
}
.date{
    border-radius: 50%;
    padding: 5px;
    margin: 2px 5px 2px 5px;
    background-color: #6edc65;
}
.date.date-active{
    background-color: #32b130;
}
.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}
.scroll {
    min-width: 100%;
}
/*
 * http://docs.angularjs.org/api/ng/directive/ngShow#usage_animations
 */
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
